ALPACA_API_KEY=
ALPACA_API_SECRET=
ALPACA_PAPER_BASE=https://paper-api.alpaca.markets
ALPACA_DATA_BASE=https://data.alpaca.markets
ALPACA_FEED=iex
FINNHUB_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
DEFAULT_RISK_CAPITAL=300
MAX_BUY_SHARES=999
MAX_DOLLAR_LOSS_PER_TRADE=10
MAX_FAILED_TRADES_PER_DAY=2
MIN_SCORE_TO_EXECUTE=25
MIN_CATALYST_SCORE=2
NO_BUY_BEFORE_ET=09:45
OPENING_RANGE_START_ET=09:30
OPENING_RANGE_END_ET=09:45
OR_BREAKOUT_BUFFER_PCT=0.0015
PULLBACK_MAX_RETRACE_PCT=0.45
MAX_SPREAD_PCT=0.003
MAX_ENTRY_EXTENSION_PCT=0.01
WATCHLIST_PUSH_SECONDS=4
MIN_PREMARKET_GAP_PCT=2.0
MIN_PREMARKET_DOLLAR_VOL=2000000
MIN_SECTOR_SYMPATHY_SCORE=1
A_PLUS_SCORE=34
A_SCORE=30

AUTO_START_EXECUTION_ENGINE=1
AUTO_TRADE_ENABLED=1
AUTO_SCAN_INTERVAL_SECONDS=45
POSITION_MONITOR_INTERVAL_SECONDS=5
MORNING_SCAN_START_ET=09:35
MORNING_SCAN_END_ET=11:00
AUTO_SCAN_END_ET=15:15
ACTIVE_PAPER_TRADING_MODE=1
MIN_AUTO_SETUP_GRADE=WATCH
ALLOW_WATCH_GRADE_AUTO_TRADES=1
AUTO_TRADE_CANDIDATE_LIMIT=10
MAX_DAILY_REALIZED_LOSS_PCT=0.10
MAX_TRADE_RISK_PCT=0.015
MIN_MOMENTUM_SCORE_TO_AUTOTRADE=24
FALLBACK_ENTRY_ENABLED=1
FALLBACK_ENTRY_MAX_SPREAD_PCT=0.006
MAX_INTRADAY_POSITION_MINUTES=90
MIN_DAILY_DOLLAR_VOLUME=1000000
ENTRY_LIMIT_PRICE_BUFFER_PCT=0.0015
ENTRY_ORDER_TIMEOUT_SECONDS=30
MAX_AUTO_TRADES_PER_DAY=3
ALLOW_DUPLICATE_SYMBOL_TRADES_PER_DAY=0
QUICK_PROFIT_TAKE_PCT=3.0
BREAKEVEN_TRIGGER_PCT=1.5
HARD_EXIT_TIME_ET=15:45
SCAN_MIN_PRICE=1.00
SCAN_MAX_PRICE=20.00
HARD_GATEKEEPER_ENABLED=1
LIVE_TRADING_OVERRIDE=0
PAPER_PROBE_TRADES_ENABLED=1
PROBE_MAX_QTY=1
PROBE_MAX_DOLLAR_RISK=5
PROBE_MIN_SCORE=18
PROBE_MAX_SPREAD_PCT=0.008
PROBE_MAX_ENTRY_EXTENSION_PCT=0.015
ENTRY_RETRY_ENABLED=1
ENTRY_RETRY_TIMEOUT_SECONDS=15
ENTRY_RETRY_LIMIT_BUFFER_PCT=0.003

SIMULATION_MODE=0
SIMULATED_ORDER_FILL_DELAY_SECONDS=1
SIMULATED_STARTING_CASH=25000
SIMULATED_ALLOW_FRACTIONAL=0
SIMULATED_DEFAULT_SPREAD_PCT=0.002
